.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0 solid;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto 15px;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.section-padding {
  position: relative;
}

*:focus {
  outline: none;
}

.section-bg {
  background-image: url("../image/banner-bg-img.jpg");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 52%;
  background-size: cover;
}

.section-bg:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #31d6be;
  opacity: .8;
}

.contact-form {
  padding-top: 90px;
  padding-bottom: 90px;
}

h2.absolute-text {
  color: #ffffff;
}

input {
  width: 100%;
  margin: 10px;
  padding: 10px;
}

textarea {
  width: 100%;
  margin: 10px;
  padding: 10px;
}