.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0 solid;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto 15px;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.section-padding {
  position: relative;
}

*:focus {
  outline: none;
}

.section-bg {
  background-image: url("../image/banner-bg-img.jpg");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  background-size: cover;
}

.section-bg:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #31d6be;
  opacity: .8;
}

.contact-form {
  padding-top: 90px;
  padding-bottom: 90px;
}

h2.absolute-text {
  color: #000000;
}

.contact-form input {
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.contact-form textarea {
  width: 100%;
  margin: 10px;
  padding: 10px;
  height: 60px;
}

input[type=submit] {
  width: auto;
  background: #ffffff;
  padding: 10px 20px;
}

.contact-form button {
  width: auto;
  background: #ffffff;
  padding: 10px 20px;
  margin: 10px;
}

.appoinment-text {
  padding-left: 150px;
  padding-top: 90px;
}

.appoinment-text p {
  font-size: 22px;
  font-weight: 700;
}

.appoinment-text ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

a.box-btn {
  display: inline-block;
  color: #ffffff;
  background: #31d6be;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 45px;
  margin-top: 30px;
}